textarea{
    width:45%;
    height: 80px;
    margin: auto;
    display: block;
    padding: 1rem;

}
button{
    margin: auto;
    width:130px;
    height: 50px;
    display: block;
    border-radius: 5rem;
}
#output{
    padding: 1rem;
    margin: auto;
    border:1px solid black;
    height: 80px;
    display: block;
    width: 45%;
}
.navigation{
    background-color: #FFF933;
    width:100%;
    height:100px;
    border-bottom: 0.7rem solid #FFC300;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 2rem;
}

.nav-name{
    padding: 2rem;
    text-align: center;
   
}
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.footer{
    background-color: #FFF933;
    width:100%;
    margin: auto;
    height: 140px;
    border-top: 1rem solid #FFC300 ;
    border-top-right-radius: 1rem;
    border-top-left-radius: 2rem;

}
.footer-text{
    padding: 1rem;
    text-align: center;
}
.link{
    text-decoration:none;
    text-align: center;
}


body {
    margin: 0;
}